.header {
    display: flex;
    flex-direction: row;
    padding: 92px 24px;
}

.header__logo {
    width: 148px;
    height: 105px;
    justify-content: center;
    margin-left: 19px;
    box-sizing: content-box;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    list-style: circle;
    gap: 34px;
    padding-top: 44px;
    width: 407px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 22px;
}

.address {
    width: 240;
    padding-left: 187px;
    padding-top: 5px;
    font-size: 18px;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    
}

.address__accent {
    text-decoration: underline;
    text-underline-position: under;
}

.menu__accent {
    text-underline-position: under;
}
