.header {
    display: flex;
    flex-direction: row;
    padding: 92px 24px 97px;
}

.header__logo {
    width: 148px;
    height: 105px;
    justify-content: center;
    padding-left: 12px;
    box-sizing: content-box;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    list-style: circle;
    gap: 30px;
    padding-top: 22px;
    width: 425px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-left: 11px;
    letter-spacing: 0.2px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.address {
    width: 498px;
    padding-left: 198px;
    padding-top: 5px;
    font-size: 18px;
    letter-spacing: 0.04px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.37;
    
}

.address__accent {
    text-decoration: underline;
    text-underline-position: under;
}

.menu__accent {
    text-underline-position: under;
}

.cover {
    position: relative;
    padding: 40px 40px 48px 40px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 180px;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.cover__title {
    display: block;
    color: white;
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Raleway', 'Arial','Calibri', sans-serif;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.alligned-text {
    display: block;
    margin-top: 125px;
    margin-left: 14px;
}


.alligned-text-center {
    display: flex;
    justify-content: center;
    margin-right: 22px;
    margin-top: 9px;
}

.alligned-text-right {
    display: flex;
    justify-content: end;
    margin-right: -24px;
    margin-top: 3px;
}

.no-letter-spacing {
    margin-left: 30px;
}

.cover__description {
    position: relative;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    font-family: 'Raleway', 'Arial', 'Calibri', sans-serif;
    font-size: 14.1px;
    flex-wrap: nowrap;
    display: inline-block;
}

.cover__description-text {
    font-weight: 100;
    margin-top: 127px;
    margin-left: 42px;
    word-spacing: 22px;
    letter-spacing: 0.4px;
}

.cover__description-text__right {
    margin-left: -6px;
    word-spacing: 20px;
    letter-spacing: 0.3px;
    padding-right: 50px;
}

.button__click {
    display: inline-block;
    width: 256px;
    min-height: 51px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Raleway', 'Arial', 'Calibri', sans-serif;
}

.lots__accent {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 60px;
}

.lots__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 26px;
    margin-left: 20px;
}

.lots__list-item {
    width: 334px;
    height: auto;
    color: white;
}

.card_type_film {
    position: relative;
    display: flex;
    z-index: 0;
    width: 334px;
    min-height: 563px;
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.card_type_book {
    position: relative;
    display: flex;
    z-index: 0;
    width: 334px;
    min-height: 563px;
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.card_type_picture {
    position: relative;
    display: flex;
    z-index: 0;
    width: 334px;
    min-height: 563px;
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.card_type_film, .card_type_book, .card_type_picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.card__title {
    width: 254px;
    font-size: 22px;
    z-index: 2;
    padding-top: 52px;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 2px;
}

.card__header, .card__body {
    padding-left: 40px;
}

.card__text {
    text-decoration: none;
    width: 255px;
    font-size: 20px;
    z-index: 2;
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 0.01px;
    margin-top: auto;
    padding-bottom: 48px;
}

.card_link {
    z-index: 3;
    text-decoration: none;
}

.lots__more {
    text-underline-position: under;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 30px;
    margin-top: 30px;
}

.about {
    margin-top: 179px;
    display: flex;
    flex-wrap: wrap;
}

.logo_white_about {
    padding-left: 64px;
    margin-bottom: 1px;

}

.logo__background {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    margin-top: 3px;
    margin-left: 3px;
}

.logo-white {
    width: 148px;
    height: 114px;
    margin-top: 64px;
    margin-left: 47px;
}

.about__accent {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    margin-top: 105px;
    margin-left: 72px;
    width: 693px;
    
}

.text-about-container {
    display: flex;
    padding-top: 7px;
    padding-left: 378px;
    flex-wrap: wrap;
}

.text-about {
    margin-bottom: 1em;
    list-style: none;
    font-size: 20px;
    font-family: 'Raleway', 'Arial', 'Calibri', sans-serif;
    font-weight: 400;
    flex-direction: column;
    margin-top: 1px;
    margin-left: 1px;
    line-height: 24px;
    letter-spacing: 0.09px;
    word-spacing: 0.03px;
    width: 697px;
}

.text-about:last-child {
    margin-bottom: 0px;
}

.footer {
    margin-top: 183px;
    margin-left: 46px;
    margin-bottom: 84.42px;

}

.footer_grid {
    display: grid;
    width: 1000px;
    grid-template-columns: 240.52px 519.48px 240px;
}

.address-footer {
    font-size: 18px;
    letter-spacing: 0.04px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.37;
}

.footer__menu-list {
    list-style: none;
    justify-self: center;
    
    text-align: center;
    font-size: 18px;
}

.footer__link_active {
    text-decoration: none;
}

.logos-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.logos-list-item {
    width: 48px;
    height: 48px;
}
